<h1>About</h1>
<p>
    <%= link_to "GamifyRussia", "http://gamifyrussia.com" %>
    Gamification community in Russia 
    <a href="http://rubyonrails.org/">Ruby on Rails</a> 
    in one month. This is the sample application.
</p>   