<form class ="center hero-unit">
  <fieldset>
    <h3><legend>Несколько теплых слов этим замечательным утром.</legend></h3>
    <p> Маша, я влюбился в тебя с первого взгляда, при нашей самой первой встрече,
      хотя еще общаясь с тобой по скайпу у меня уже было какое-то предчувствие, поэтому узнав, что 
      ты поедешь в Пермь, я тоже туда поехал, а в процессе общения
      с тобой я понял, что мы с тобой родственные души и ты именно та девушка, которую я
      ждал, ты - девушка моей мечты.<br>
      Я хочу, чтобы эта влюбленность переросла в большую и светлую любовь.<br>
      Ты для меня самое дорогое, что есть на этом свете.<br>
      
<p>
  <%= link_to "Меньше слов, хочу подарок :-)", gift_path, class: "btn btn-primary btn-large" %>
</p>
  </fieldset>
</form>

