<!-- adds gray background from site-->
<div class="hero-unit">
<h1>Welcome to my first Rails app</h1>

<p>
      This is my Gamification community
      <%= link_to "GamifyRussia", "http://gamifyrussia.com" %>
      fell free to register.
</p>
<p>
	<%= link_to "Sign Up Now", "#", class: "btn btn-primary btn-large" %>
</p>
</div>