<div class="center hero-unit">
<h1>Доброе утро, моя девочка :-*</h1>

<p>
Сегодня необычный день - сегодня день всех влюбленных.<br>
Милая, я хотел сказать тебе несколько теплых слов, таким необычным способом.<br>
Для этого нажми кнопочку ниже :-) <br>
</p>
<div>
<p>
	<%= link_to "Нажми на кнопку", about_path, class: "btn btn-primary btn-large" %>
</p>
</div>
</div>